@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.tempCountry>div>div {
  opacity: 0;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  /* border: none; */
}

.react-input-emoji--container {
  background-color: #101010 !important;
  border: none;
}

.MuiListItem-gutters {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.react-joyride__tooltip {
  border: 1px solid #fff;
  border-radius: 10px !important;
}
.react-joyride__tooltip button {
  font-size: 12px !important;
  outline: 0;
}
.react-joyride__tooltip button[data-action='primary'] {
  color: #000 !important;
}
