@media only screen and (max-width: 600px) {
    .onMobileView {
        display: none;
    }
}

.forgetPassword {
    font-family: Poppins;
    font-weight: 900;
    font-size: 13px;
    line-height: 21px;
    font-weight: bolder;
}

.setFont {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 900;
    font-style: 'bolder';
    line-height: 33px;
    padding: 3px;
}
